<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto font-weight-bold text-danger">
      <span>Copyright &copy; PINEPERFUME</span>
    </div>
  </div>
</footer>
